{
	"bracketSpacing": true,
	"printWidth": 80,
	"proseWrap": "preserve",
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "always",
	"endOfLine": "lf"
}
